@media (min-width: 544px) {
    .gap {
        padding: 0.3rem;
    }
}

.title {
    font-size: 1.5rem;
}
.subtitle {
    color: black !important;
}

.title2 {
    font-size: 1rem;
    font-weight: 500;
}

.subtitle2 {
    font-size: 0.75rem;
    font-weight: 500;
}

.nav {
    text-decoration: none !important;
}

figure {
    overflow: hidden;
    width: 30%;
} 

.section {
    padding: 2rem 1.5rem;
}

.hero-body {
    padding: 1rem 1.5rem;
}